.flex-container{
  display: flex;
  background-color: #00cf9c;
  justify-content: center;
  margin: 0 auto;
}

.item{
  width: 1fr;
  height: 1fr;
  margin: 10px;
  height: 90vh;
  width: 100%;
  font-size: 2rem;
}

